
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #dcf5c0;
    line-height: 1.6;
    align-items: center;
    
}

header {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 20vh; 
    padding: 0 20px; 
    background-color: rgb(128, 187, 112); 
    color: rgb(24, 66, 12); 
    box-sizing: border-box; 
    gap: 400px; 
    border: 3px solid rgb(74, 141, 67); 
    overflow: hidden; 
  }


 header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1.5em, 5vw, 2.5em); 
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}


.Logo{
   display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  transition: transform 0.3s ease;
}

.Logo:hover{
transform: scale(1.2);
cursor: pointer;
}

.Logo img{
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgb(52, 78, 50);
}

  nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    display: flex; /* Alinha os itens em linha */
    flex-direction: column; /*coluna */
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px; /* Espaço entre os itens */
  }
  
  nav ul li a {
    display: inline-block; 
    color: rgb(29, 75, 25); /* Cor do texto */
    text-decoration: none;
    font-size: 1em;
    padding: 3px 6px; 
    background-color: rgb(81, 156, 74); 
    border: 2.5px solid rgb(74, 141, 67); 
    border-radius: 5px; /* Bordas meio redonda  */
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(58, 119, 51);
    border-color: rgb(52, 78, 50);
    color: rgb(21, 51, 12);
    transform: scale(1.2);
    cursor: pointer;
}

.titulo-principal {
  text-align: center;
  color: #16380e;        /* verde escuro, combinando com seu tema */
  font-size: 2.2em;      /* tamanho grande para destaque */
  margin: 30px 0 20px 0; /* espaço acima e abaixo */
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.INICIO, .AGRINHO, .AGROHIST, .Brasil, .Sitezinho{
display: flex;
  gap: 10px;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  background-color: #92c08b;
  border: 3px solid #265326;
  border-radius: 10px;
  color: #0b3006;
  align-items: flex-start;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
}

.INICIO p, .AGRINHO p, .AGROHIST p, .Brasil p, .Sitezinho p{
  margin: 0;
  padding: 0;
}