

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Montserrat:wght@400;700&display=swap');

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #dcf5c0;
    line-height: 1.6;
    align-items: center;
    text-align: justify;
    
}

.Meio{
  padding: 30px;
}

.introdução{
  color: #122e05;
  size: 3em;
  justify-content: center;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  overflow: hidden;
  flex-direction: column;
  text-align: justify;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    padding: 0 20px;
    background-color: rgb(128, 187, 112);
    color: rgb(24, 66, 12);
    box-sizing: border-box;
    gap: clamp(1rem, 10vw, 4rem); 
    border: 3px solid rgb(74, 141, 67);
    position: relative; 
}

  
 header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1.4em, 4vw, 2em); 
  margin: 0 auto;
  text-align: center;
  max-width: calc(100% - 40px);
   overflow: hidden; 
  max-width: 50vw; 
}

header.menu-aberto {
  height: 30vh;
}


  
.Logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  transition: transform 0.3s ease;
}

.Logo:hover{
transform: scale(1.2);
cursor: pointer;
}

.Logo img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 3px solid rgb(12, 51, 9);
}

.acessibilidade {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.acessibilidade p {
  margin: 4px 0 0 0;
  font-size: 5px;
  text-align: center;
  line-height: 1.2;
}

.creditos {
  font-size: 10px;
  margin-top: 6px;
  max-width: 120px;
  line-height: 1.2;
}

.creditos a {
  color: inherit;
  text-decoration: none;
}

.acessibilidade button {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.abnace {
   all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  transition: transform 0.3s ease;
  max-width: 120px;
  text-align: center;
}

.abnace button{
    background-color:transparent;
}

.abnace:hover{
transform: scale(1.2);
cursor: pointer;
}
.abnace img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(52, 78, 50);
  border: 1px solid rgb(31, 77, 37);
  border-radius: 100%;
}


.menu {
  margin-top: 30px;
  display: none;
  position: absolute;
  background-color: #f0fff0;
  border: 2px solid #2d551d;
  padding: 20px;
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 12px;
  z-index: 1000;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: max-content;
  overflow: hidden;
}

.menu.ativo {
  display: block;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 0;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: rgb(45, 94, 45); 
  color: white;
  width: 100%;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.botao:hover {
  background-color: rgb(34, 72, 34); 
}

.botao img {
  margin-right: 6px;
  width: 18px;
  height: 18px;
}

.acessibilidade p {
  margin-top: 6px;
  font-size: 5px;
  line-height: 1.4;
  text-align: center;
  color: #333;
}

#toggleMenu:checked ~ .acessibilidade #menuAcessibilidade {
  display: block;
}

.PRINCIPAL {
  font-size: 20px;
}

#aumentar:checked ~ .PRINCIPAL {
  font-size: 18px;
}

#diminuir:checked ~ .PRINCIPAL {
  font-size: 12px;
}

#normal:checked ~ .PRINCIPAL {
  font-size: 14px;
}


#contraste:checked ~ .PRINCIPAL {
  background-color: black !important;
  color: rgb(251, 255, 0) !important;
}

#contraste:checked ~ .PRINCIPAL a,
#contraste:checked ~ .PRINCIPAL span {
  color: rgb(251, 255, 0) !important;
}

#contraste:checked ~ .PRINCIPAL button {
  background-color: #1d1919 !important;
  color: rgb(238, 255, 0) !important;
}

#contraste:checked ~ .PRINCIPAL h1,
#contraste:checked ~ .PRINCIPAL h2,
#contraste:checked ~ .PRINCIPAL h3,
#contraste:checked ~ .PRINCIPAL p {
  color: white !important;
}


nav ul {
    list-style-type: none; 
    display: flex; 
    flex-direction: column; 
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px; 
  }
  
  nav ul li a {
    display: inline-block; 
    color: rgb(29, 75, 25); 
    text-decoration: none; 
    font-size: 1em;
    padding: 3px 6px; 
    background-color: rgb(81, 156, 74); 
    border: 2.5px solid rgb(74, 141, 67); 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(58, 119, 51);
    border-color: rgb(52, 78, 50);
    color: rgb(21, 51, 12);
    transform: scale(1.2);
    cursor: pointer;
}

.Explicacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 20px 30px; 
  overflow: hidden;
  border: 2px solid rgb(46, 97, 42);
  border-radius: 20px;
  background-color: rgb(119, 187, 109);
  color: rgb(40, 73, 30);
  text-align: center; 
  max-width: 1000px; 
  margin: 20px auto; 
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 5%;
  text-align: justify;
}



.carrossel {
  display: flex;
  flex-wrap: wrap; 
  gap: 40px;
  justify-content: center;
  margin: 30px 20px; 
 overflow: visible;
 text-align: justify;
 
}
.item {
  position: relative;
  width: 100%;
  max-width: 200px; 
  aspect-ratio: 4 / 5; 
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);

}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
}
.texto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 224, 184, 0.8);
  color: #16380e;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
  padding: 1px; 
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
}

a {
  color: #16380e;
  font-weight: bold;
  font-size: 1em;  
  margin-top: 1px; 
  text-decoration: none;
}

.creditos-fontes a {
  color: #2c5d2c; 
  text-decoration: underline dashed #96b492;
  font-weight: bold;
}

.creditos-fontes a:hover {
  color: #1f3d1f;
  text-decoration: underline solid #5a8e5a;
}

.item input:checked ~ .texto {
  opacity: 1;
  pointer-events: auto;
}
.item input {
  display: none;
}

.item:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.texto p {
  font-size: 0.8em; 
  margin: 0; 
  padding: 0 5px; 
  overflow: hidden; 
}

#splash-screen {
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw; height: 100vh;
  background: #014421;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  color: #ffffff;
  overflow: hidden;
  animation: fadeOutSplash 5s forwards 4s; /* espera 4s, depois some em 5s */
}

@keyframes fadeOutSplash {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-text {
  text-align: center;
}

.linha1 {
  font-size: 2em;
  margin-bottom: 0.3em;
  opacity: 0;
  transform: scale(0.8);
  filter: blur(4px);
  animation: fadeZoomIn 1.8s ease forwards 0s;
}

.linha2 {
  font-size: 3em;
  color: #a8ffbf;
  text-shadow: 0 0 12px #79d997;
  letter-spacing: 1px;
  opacity: 0;
  transform: scale(0.8);
  filter: blur(4px);
  animation: fadeZoomIn 1.8s ease forwards 1s;
}

@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(4px);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
    filter: blur(1px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}




.TecExemplos{
  text-align: center;
  font-size: 1.5em;
  color: #0e470c;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-decoration-thickness: 2px; 
  text-decoration-color: #478b3e; 
  text-decoration-style: solid;
}

.Agro{
  overflow: hidden;
  text-align: center;
  color: #1b4715;
  background-color: #92c08b;
  border: 3px solid #265326;;
  border-radius: 10px;
  font-size: 1em; 
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
   padding: 20px;
   text-align: justify;
}

.Agro p{
  font-size: 0.8em;
  color: rgb(27, 36, 32);
}

.TiposAgro{
  text-align: center;
  font-size: 2em;
  color: #163107;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-decoration-thickness: 2px; 
  text-decoration-color: #497740; 
  text-decoration-style: solid;
}

.AgroEx p{
  font-size: 0.8em;
  color: rgb(18, 66, 12);
  text-align: justify;
}




.AgroEx {
  display: flex;
  gap: 10px;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background-color: #92c08b;
  border: 3px solid #265326;
  border-radius: 10px;
  color: #0b3006;
  align-items: flex-start;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
text-align: justify;
text-justify: inter-word;

}

.AgroEx h3 {
  margin: 0;
  max-width: 500px;
  text-align: justify;
}

.AgroEx h2 {
  font-size: 2em;
  color: #143d14;
}

.AgroEx {
  display: grid;
  grid-template-columns: 1fr 250px; 
  column-gap: 80px;
  max-width: 800px;
  margin: 40px auto;
  padding: 15px;
  background-color: #92c08b;
  border: 3px solid #265326;
  border-radius: 10px;
  color: #0b3006;
  align-items: start;
  transition: transform 0.3s ease;
 text-align: justify;
text-justify: inter-word;
}

.AgroEx:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.AgroEx h2 {
  grid-column: 1 / 2;
  grid-row: 1;
  font-size: 2em;
  margin-bottom: 10px;
  color: #143d14;

}

.AgroEx h3 {
  grid-column: 1 / 2;
  grid-row: 2;
  margin: 0;
  text-align: justify;
}

.AgroEx > .comdes {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.AgroEx img {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  margin-bottom: 8px;
}


.AgroEx p {
  font-size: 0.9em;
  margin: 0;
  color: #0b3006;
  text-align: justify;
}


.Agrin{
  text-align: center;
  font-size: 2em;
  color: #163107;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-decoration-thickness: 2px; 
  text-decoration-color: #497740; 
  text-decoration-style: solid;
}

.AgrinEX {
  column-gap: 10px;
   max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #92c08b;
  border: 3px solid #265326;
  border-radius: 10px;
  color: #0b3006;
  align-items: start;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
  text-align: justify;
text-justify: inter-word;
}

.AgrinEX p{
  font-size: 0.8em;
  color: rgb(18, 66, 12);
}


.HistAgro {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #92c08b; 
  border: 3px solid #265326; 
  border-radius: 10px;
  color: #0b3006;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
  text-align: justify;
text-justify: inter-word;

}

.HistAgro p{
  font-size: 0.8em;
  color: rgb(18, 66, 12);
}




.tecnologia {
  text-align: center;
  font-size: 2em;
  color: #13380e;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-decoration-thickness: 2px; 
  text-decoration-color: #467740;
  text-decoration-style: solid;
}
.TecTexto {
  max-width: 1200px;        
  margin: 20px auto;       
  padding: 20px;           
  overflow: hidden;
  text-align: justify;
text-justify: inter-word;    
  color: #06300f;
  background-color: #99c299;
  border: 3px solid #153315;
  border-radius: 10px;
  font-size: 1em;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
}

.TecTexto p{
  font-size: 0.8em;
  color: rgb(18, 66, 12);
}





.Titu{
  text-align: center;
  font-size: 2em;
  color: #0e3812;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-decoration-thickness: 2px; 
  text-decoration-color: #597740; 
  text-decoration-style: solid;
}

.timeline {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
  padding: 10px;
  
}

.evento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;

}

.descrição {
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: default; /* só texto normal */
}

.descrição:hover {
  background-color: rgb(106, 150, 86);
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}



.ano {
  font-size: 1.5em;
  font-weight: bold;
  color: #16360a;
  margin-right: 20px;
  z-index: 1; /*sobrepo*/
}


.descrição {
  background-color: #aaf1ad;
  padding: 20px;
  border-radius: 5px;
  border: #16380e solid 3px;
  width: 60%;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
}

.descrição h3 {
  font-size: 1.3em;
  color: #143a0f;
  font-family: 'Times New Roman', Times, serif;
}

.descrição p {
  font-size: 1em;
  color: #194210;
}




.Mal {
  text-align: center;
  font-size: 2em;
  color: #163107;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #497740;
  text-decoration-style: solid;
  margin-bottom: 10px; /* espaço abaixo do título */
}

.Desafios {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #92c08b;
  border: 3px solid #265326;
  border-radius: 10px;
  color: #0b3006;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
  text-align: justify;
text-justify: inter-word;
}

.Desafios p{
  font-size: 0.8em;
  color: rgb(18, 66, 12);
}

.FooterCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
  width: 100%;
  min-height: 10px;
  padding: 10px 10px; 
  background-color: rgb(128, 187, 112);
  color: rgb(24, 66, 12);
  box-sizing: border-box;
  gap: 30px;
  border: 3px solid rgb(74, 141, 67);
  text-align: center;
}

.contatos {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.contato-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.contato-item:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.4));
}

.contatos a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contatos a img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.2));
  cursor: pointer;
}

.contatos a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.4));
}

.atributo {
  margin-top: 2px;
  font-size: 8px;
  line-height: 1.1;
  margin-top: 3px;
  text-align: center;
  max-width: 70px;
  opacity: 0.5;
  user-select: none;
}

.atributo a {
  color: rgb(24, 66, 12);
  text-decoration: none;
}


.Ops {
  font-size: 15px;
  font-style: italic;
  color: rgb(24, 66, 12);
  width: 100%;
  margin-top: 0px;
  user-select: none;
}



#btnTopo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid rgb(37, 77, 33);
  border-radius: 100%;
  background-color: #91db7a;
  color: #11380a;
  display: block; 
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

#btnTopo:hover {
  background-color: #66bd63;
}



/* RESPONSIVIDADE*/


@media (max-width: 768px), (max-zoom: 1.1) {
  .FooterCon {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contatos {
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 20px;
  }

  .contatos a {
    margin-bottom: 10px; 
  }

  .contatos img {
    width: 30px;
    height: 30px;
  }

  .Eba {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    text-align: center;
    gap: 20px;
  }

  header h1 {
    font-size: 1em;
  }

  

  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  nav ul li {
    margin: 5px 0;
  }

  .carrossel{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto{
    width: 100%;
    text-align: center;
  }


  h2, h3 {
    font-size: 1em;
  }

  .carrossel {
    flex-direction: column;
  }

  .item {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 2em;
  }

  .Logo img {
    max-height: 7vh;
  }

  .carrossel img {
    max-width: 100%;
  }
}



@media (max-width: 768px), (max-zoom: 1.1) {
  .FooterCon {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .Eba {
    font-size: 20px;
  }

  .contatos img {
    width: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .FooterCon {
    gap: 60px;
  }
}


/* Responsividade */
@media (max-width: 768px) {
  .evento {
    flex-direction: column; 
    align-items: center; 
  }

  .ano {
    margin-right: 0;
    margin-bottom: 10px; 
  }

  .descricao {
    width: 90%; 
  }
}

@media (max-width: 480px) {
  .Titu {
    font-size: 1.5em; 
  }

  .ano {
    font-size: 1.2em; 
  }

  .descricao {
    padding: 15px; 
  }
}


@media (max-width: 768px) {


  .TecExemplos,
  .TiposAgro,
  .Agrin,
  .tecnologia,
  .Titu,
  .Mal {
    font-size: 1.5em;
    padding: 10px 5px;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
  }

  
  .Agro,
  .AgroEx,
  .AgrinEX,
  .HistAgro,
  .TecTexto,
  .Desafios {
    max-width: 95%;
    margin: 20px auto;
    padding: 15px;
    text-align: justify;
     text-justify: inter-word;
  }

  
  .AgroEx {
    display: block;
    padding: 15px;
  }

  .AgroEx h2,
  .AgroEx h3 {
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
  }


  .AgroEx > .comdes {
    grid-column: auto;
    grid-row: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .AgroEx img {
    max-width: 100%;
    height: auto;
    margin: 15px auto;
    border-radius: 8px;
  }


  .AgroEx p,
  .Agro p,
  .TecTexto p {
    font-size: 0.9em;
    line-height: 1.4em;
    text-align: justify;
text-justify: inter-word;
  }
}


@media (max-width: 768px) {
  .AgroEx {
    display: flex !important;
    flex-direction: column !important;
    padding: 10px;
    max-width: 100%;
    gap: 20px;
    text-align: justify;
text-justify: inter-word;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 769px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 767px) {
  .linha1 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }

  .linha2 {
    font-size: 2em;
    letter-spacing: 0.5px;
    text-shadow: 0 0 8px #79d997;
  }
}


@media (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }
}


@media (max-width: 480px) {
  header h1 {
    font-size: 1.5em;
  }
}